<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - PV Mapper</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css", "~/Content/themes/base/css", "~/ext-resources/files/css")
    @* @Scripts.Render("~/bundles/extjs")*@
    @*The bundler causes a StackOverflowException in v4 RC *@
    <script type="text/javascript" src="~/ext-resources/js/ext-base.js"></script>
    <script type="text/javascript" src="~/ext-resources/js/ext-all.js"></script>
    <script type="text/javascript" src="~/ext-resources/js/OpenLayers.js"></script>
    <script type="text/javascript" src="~/ext-resources/js/GeoExt.js"></script>

</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <img src="~/Images/logo50.png" alt="PV Mapper Logo" />
            </div>
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("PV Mapper", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("v3", "v3", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>
                    &copy; @DateTime.Now.Year - PV Mapper
                </p>
            </div>
            <div class="float-right">
                <ul id="social">
                    <li><a href="http://facebook.com" class="facebook">Facebook</a></li>
                    <li><a href="http://twitter.com" class="twitter">Twitter</a></li>
                </ul>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>