@model Doe.PVMapper.Models.WebExtension

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>WebExtension</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Url)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Url)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Author)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HelpUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HelpUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UniqueIdentifier)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UniqueIdentifier)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
