@model IEnumerable<Doe.PVMapper.Models.WebExtension>
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="../../Content/DataTables-1.9.2/media/css/jquery.dataTables.css" />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table id="list">
    @*Need Thead, not tr here http://datatables.net/forums/discussion/3012/error-in-google-chrome/p1*@
    <thead>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jquerydatatables")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#list').dataTable({ "bPaginate": false });
        });
    </script>

}